<div class="col-md-9 " id="edit_profile">

  <div class="panel" id="edit_form">

    <form #form="ngForm">

      <div id="draganddrop" class="">
        <div class="panel-body jumbotron" style="padding: 0;">
          <div class="col-lg-3 col-md-3 hidden-sm hidden-xs " id="profile_ph">

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media">
                  <div align="center">
                    <img *ngIf="!user.image" class="thumbnail img-responsive"
                         src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png"
                         width="300px" height="300px">
                    <div>
                      <img id="cloud-img" *ngIf="user.image"
                           src='http://res.cloudinary.com/dhimzt8vr/image/upload/c_lfill,h_250,q_100,r_0,w_250/a_0/{{user.image}}.jpg'/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-draganddrop-form (upImg)="updateImg($event)"></app-draganddrop-form>

        </div>

        <form class="form-horizontal jumbotron"
              style="padding-bottom: 10px; padding-top: 10px; padding-right: 30px; padding-left: 30px">
          <fieldset>
            <div class="col-md-12 col-lg-12 row" style="margin-left: 0; width: 100%">
              <div class="col-lg-6" ngClass="{{isEmail?'':'has-error'}}">
                <h5>{{"EMAIL" | translate}}</h5>
                <input (change)="updateProfile()" type="text" class="form-control" [(ngModel)]="user.email"
                       name="email" id="inputEmail" placeholder="New email" (keyup)="checkEmail()" (input)="checkEmail()">
                <span class="help-block error" *ngIf="formErrors.email">
                {{ formErrors.email | translate}}
              </span>
              </div>

              <div class="col-lg-6" ngClass="{{isLogin?'':'has-error'}}">
                <h5>{{"LOGIN" | translate}}</h5>
                <input (change)="updateProfile()" type="text" class="form-control" [(ngModel)]="user.login"
                       name="login" id="inputLogin" placeholder="New login" (keyup)="checkLogin()" (input)="checkLogin()">
                <span class="help-block error" *ngIf="formErrors.login">
                {{ formErrors.login | translate}}
              </span>
              </div>

              <div class="col-lg-6" ngClass="{{isPassword?'':'has-error'">
                <!--TODO make change only if pass confirm-->
                <h5>{{"OLD_PASSWORD" | translate}}</h5>
                <input (change)="updateProfile()" type="password" class="form-control" [(ngModel)]="oldPassword"
                       name="password" id="inputPassword" placeholder="Old password">
              </div>
              <div class="col-lg-6" ngClass="{{isNewPassword?'has-success':(isNewPassword!==undefined?'has-error':'')}}">
                <h5>{{"NEW_PASSWORD" | translate}}</h5>
                <input type="password" class="form-control" [(ngModel)]="newPassword" name="confirmPassword"
                       id="inputLConfirmPassword" placeholder="New password" (keyup)="checkPassword()" (input)="checkPassword()">
                <span class="help-block error" *ngIf="formErrors.newPassword">
                {{ formErrors.newPassword | translate}}
              </span>
              </div>
              <div class="col-lg-6" ngClass="{{isName?'':'has-error'}}">
                <h5>{{"NAME" | translate}}</h5>
                <input (change)="updateProfile()" type="text" class="form-control" [(ngModel)]="user.name"
                       name="login" id="inputName"  (keyup)="checkName()" (input)="checkName()">
                <span class="help-block error" *ngIf="formErrors.name">
                {{ formErrors.name | translate}}
              </span>
              </div>
              <div class="col-lg-6" ngClass="{{isSurname?'':'has-error'}}">
                <h5>{{"LASTNAME" | translate}}</h5>
                <input (change)="updateProfile()" type="text" class="form-control" [(ngModel)]="user.surname"
                       name="login" id="inputSurname"  (keyup)="checkSurname()" (input)="checkSurname()">
                <span class="help-block error" *ngIf="formErrors.surname">
                {{ formErrors.surname | translate}}
              </span>
              </div>
              <div class="col-lg-12">
                <h5>About</h5>
                <div contentEditable="true" class="form-control" id="id-area-text" name="Text" style="height: auto">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>


    </form>
  </div>
</div>
