
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px; text-align: center;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{{"LOGOUT_CONFIRM" | translate}}</h3>
      </div>
      <div class="modal-footer" style="border-top: 0px; text-align: center;">
        <button type="button" (click)="logout()" class="btn btn-info"  style="min-width: 75px;">
          {{"YES" | translate}}</button>
        <button type="button" class="btn btn-default" style="min-width: 75px;" data-dismiss="modal">
          {{"NO" | translate}}</button>
      </div>
    </div>
  </div>
