<div class="row ">
  <div class=" jumbotron custom-container">
    <h4 style="margin-left: 5px">Your comment:</h4>
    <div class="form-control big-input" contentEditable="true"></div>
    <button class="btn btn-info btn-sm">Comment</button>
    <hr>
    <div id="comment-container">
      <div class="container">
        <div class="row">
          <section class="comment-list">
            <!-- TODO: cicle for article -->
            <article class="row">
              <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                  <img class="img-responsive"
                       src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                </figure>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                  <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                    <header class="text-left">
                      <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                      <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                      </time>
                    </header>
                    <div class="comment-post">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <!-- Second Comment Reply -->
            <article class="row">
              <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                  <img class="img-responsive"
                       src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                </figure>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                  <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                    <header class="text-left">
                      <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                      <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                      </time>
                    </header>
                    <div class="comment-post">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
            <article class="row">
              <div class="col-md-2 col-sm-2 hidden-xs">
                <figure class="thumbnail">
                  <img class="img-responsive"
                       src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                </figure>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                  <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                    <header class="text-left">
                      <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                      <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                      </time>
                    </header>
                    <div class="comment-post">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article><article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <img class="img-responsive"
                     src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                  <header class="text-left">
                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">Username</a></div>
                    <time class="comment-date" datetime="16-12-2014 01:05"><span class="glyphicon glyphicon-time"></span> Dec 16, 2014
                    </time>
                  </header>
                  <div class="comment-post">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
