.add_btn{
  padding: 5px;
  margin: 5px 5px;
}
#wrapper_instr{
  border-radius: 4px;
  padding: 15px;
  display: inline-block;
  min-height: 588px;
  height: 100%;
}
#redctn_btn{
  margin: 0;
  border-radius: 4px;
  display: grid;
  width: 45px;
}

#work_area{
  margin-top: 35px;
  padding: 5px 0px;
  border-radius: 4px;
  overflow: auto;
  height:83vh;
}
#tlandtg{
  margin-bottom: -30px;
}
#wrapper_wa{
  width: 88%;
  float: left;
  margin-right: 5px;
}
