<div class="col-lg-12" id="wrapper_instr" >

  <div id="wrapper_wa">
    <div class="input-group" id="tlandtg">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-fire"></i></span>
      <input type="text" class="form-control" placeholder="Title of instruction" aria-describedby="basic-addon1">
      <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-tags"></i></span>
      <input type="text" class="form-control" placeholder="tags" aria-describedby="basic-addon2">
    </div>

    <div id="work_area" class="modal-body jumbotron"
         infinite-scroll
         [infiniteScrollDistance]="modalScrollDistance"
         [infiniteScrollThrottle]="modalScrollThrottle"
         [scrollWindow]="false" >
      <div dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']">
        <div *ngFor="let container of containers; let i = index" dnd-sortable [sortableIndex]="i">
          <div *ngIf="container.type === 'text'" class="panel-heading" >
            <app-text-area class="uni_id"></app-text-area>
          </div>
          <div *ngIf="container.type === 'image'"  class="panel-heading" >
            <app-image-area class="uni_id"></app-image-area>
          </div>
          <!--<div *ngIf="container.type === 'video'" class="panel-heading" >-->
            <!--<app-video-area class="uni_id"></app-video-area>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <div id="redctn_btn" >


    <button type="button" (click)="addContainer('text')" title="{{'TEXT' | translate}}" class="add_btn btn btn-info col-sx-3">
       <i class="glyphicon glyphicon-pencil"></i>
    </button>

    <button type="button" (click)="addContainer('image')" title="{{'IMAGE' | translate}}" class="add_btn btn btn-info">
       <i class="glyphicon glyphicon-picture"></i>
    </button>

    <button type="button" (click)="addContainer('video')" title="{{'VIDEO' | translate}}" class="add_btn btn btn-info">
       <i class="glyphicon glyphicon-film"></i>
    </button>

    <button type="button" class="add_btn btn btn-success" title="{{'PREVIEW' | translate}}" style="">
      <i class="glyphicon glyphicon-eye-open"></i>
    </button>

    <button type="button" (click)="setStep()" class="add_btn btn btn-success" title="{{'SAVE' | translate}}" style="">
       <i class="glyphicon glyphicon-save"></i>
    </button>
  </div>
</div>

