<body data-spy="scroll" data-target="#nav" data-offset="50">
<div class="row">
  <div>
    <div class="col-md-offset-1">
      <div id="nav" class="col-md-2 jumbotron"
           style=" position:fixed; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; margin-right: 25px"
           >
        <h3 style="margin-top: 0px">{{"STEPS"|translate}}</h3>
        <div *ngFor="let step of instruction.step; let i = index">
          <div class="step-from-steps">{{i+1}}. <a href="#step{{i+1}}">{{step.title}}</a></div>
        </div>
        <hr style="margin-top: 10px; margin-bottom: 10px">
        <div class="step-from-steps"><span class="glyphicon glyphicon-comment"></span><a href="#comments"> {{"COMMENTS"|translate}}</a>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-2" infinite-scroll
           [infiniteScrollDistance]="modalScrollDistance"
           [infiniteScrollThrottle]="modalScrollThrottle"
           [scrollWindow]="false">

        <div style=" margin-left: 40px">
          <div class="row jumbotron" style="padding-bottom: 0px; padding-top: 15px; margin-bottom: 0">
            <div class="" style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px">
              <h3 style="margin-top: 0">{{instruction.title}}
              </h3>
              <div class="rating" style="margin-top: 5px; margin-bottom: 5px">
                <!--TODO: add link to user profile-->
                <span class="glyphicon glyphicon-user"></span><a href="/profile">{{instruction.login}}</a>
              </div>
              <a id="tag-cloud" *ngFor="let tag of instruction.tags">
                <label class="btn btn-default btn-xs tag">
                  {{tag.name}}
                </label>
              </a>
            </div>
            <div id="steps">
              <div *ngFor="let step of instruction.step; let i = index" style="margin-bottom: 10px; margin: 0 20px;">
                <div class="row" id="step{{i}}">
                  <div>
                    <div>
                      <div style="margin-right: 20px; padding: 10px">
                      </div>
                      <div>
                        <div class=" jumbotron"
                             style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; margin-bottom: 0">
                          <h3 style="margin-top: 0; margin-bottom: 20px">{{step.title}} </h3>
                          <hr>
                          <div *ngFor="let elem of step.elements" id="text-container">
                            <div *ngIf="elem.type == 'TEXT'">
                              {{elem.value}}
                            </div>
                            <div *ngIf="elem.type == 'IMAGE'">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <div class="media">
                                    <div align="center">
                                      <img id="id-area-image" class="img-responsive"
                                           src="http://res.cloudinary.com/dhimzt8vr/image/upload/v1501759439/{{elem.value}}.jpg"/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!--<div *ngIf="elem.type == 'VIDEO'">-->
                            <!--<youtube-player *ngIf="id!= null" id="player" [videoId]=elem.value></youtube-player>-->
                            <!--</div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-left: 40px">
              <div class="">
                <div class="jumbotron custom-container" style="margin-right: 30px">
                  <h4 style="margin-left: 5px">{{"YOUR_COMMENT"|translate}}</h4>
                  <div id="comment" class="form-control big-input" contentEditable="true"></div>
                  <button class="btn btn-info btn-sm" (click)="addComment()">{{"COMMENT"|translate}}</button>
                  <hr>
                  <div id="comment-container">
                    <div class="container">
                      <div class="row">
                        <section class="comment-list">
                          <!-- TODO: cicle for article -->
                          <div *ngFor="let comment of comments">
                          <article class="row">
                            <div class="col-md-2 col-sm-2 hidden-xs">
                              <figure class="thumbnail">
                                <img class="img-responsive"
                                     src="http://res.cloudinary.com/dhimzt8vr/image/upload/v1501759439/{{comment.userImg}}.jpg"/>
                              </figure>
                            </div>
                            <div class="col-md-10 col-sm-10">
                              <div class="panel panel-default arrow left" ngClass="{{isDay?'color-0':'color-1'}}">
                                <div class="panel-body" ngClass="{{isDay?'color-0':'color-1'}}">
                                  <header class="text-left">
                                    <div class="comment-user"><span class="glyphicon glyphicon-user"></span> <a href="">{{comment.userLogin}}</a></div>
                                  </header>
                                  <div class="comment-post">
                                    <p>
                                      {{comment.value}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </article>
                          </div>

                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</body>


