<nav id="navbar-header" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Something</a></li>
        <li><a [routerLink]="['profile']" id="go_to_profile">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">{{"ADD_GUIDE" | translate}}</a></li>
            <!-- TODO: night-day mode switch-->
            <li>
              <a>
                <div style="float: left">Night mode</div>
                <a class="btn_switch" >
                  <input type="checkbox" name="switch" id="switch" [(ngModel)]="mode" (change)="changeMode()">
                  <label for="switch" style="margin-left: 10px"></label>
                </a>
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="#">{{"SETTINGS" | translate}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{"LOGOUT" | translate}}</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#login-form-id">
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> {{"LOGIN" | translate}}
            </button>
          </form>
          <div class="modal fade" id="login-form-id">
            <div class="modal-dialog" role="document">
              <login-form></login-form>
            </div>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



