
<div class="row">
  <div>
    <div class="col-md-offset-1">
      <div class=" col-md-2" style="margin-right: 20px"><!--you can add jumbotron here--></div>
      <div class="col-md-6" >
        <div class="row jumbotron" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px">
          <h3 style="margin-top: 0; margin-bottom: 0">My title for my instruction and I am the best and loves cats
          </h3>
          <div class="rating" style="margin-top: 5px; margin-bottom: 5px">
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-user"></span>1,050,008 total
          </div>
          <a id="tag-cloud" *ngFor="let i of [0,1,2,3,4,5]">
            <label class="btn btn-default btn-xs tag">
              cats
            </label>
            <label class="btn btn-default btn-xs tag">
              drugs
            </label>
            <label class="btn btn-default btn-xs tag">
              rock-n-roll
            </label>
          </a>
          <div class="row" style="padding-bottom: 0px; padding-top: 15px; padding-right: 10px">
            <div dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']" id="steps"
                 class="" >
              <div *ngFor="let container of containers; let i = index" dnd-sortable [sortableIndex]="i">
                <div class="col-md-4">
                  <div class="panel panel-muted ">
                    <div class="panel-body">
                      <a class="text-muted" style="font-size: 30px;;"><b>{{i+1}} </b></a>
                      <a>{{container.title}} </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
        </div>

    </div>
    <div id="redctn_btn">
      <button type="button" title="{{'EDIT' | translate}}" class="add_btn btn btn-info col-sx-3">
        <i class="glyphicon glyphicon-pencil"></i>
      </button>

      <button type="button" class="add_btn btn btn-danger" title="{{'DELETE' | translate}}" style="">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    </div>
  </div>
</div>





