<div class="container" id="profile_component">

  <div class="row" style="height: 100%;">

    <div class="col-md-3 panel nopadding ">
      <ul class="nav nav-pills nav-stacked admin-menu">
        <li class="active"><a href="" data-target-id="profile"><i class="glyphicon glyphicon-user"></i> {{"PROFILE"|
          translate}}</a></li>
        <li><a href="" (click)="getUser()" data-target-id="edit_profile"><i class="glyphicon glyphicon-edit"></i> {{"EDIT_PROFILE"|
          translate}}</a></li>
        <li><a href="" data-target-id="profile_article"><i class="glyphicon glyphicon-list-alt"></i>
          {{"PROFILE_ARTICLE"| translate}}</a></li>
        <li><a href="" data-target-id="settings"><i class="glyphicon glyphicon-cog"></i> {{"SETTINGS"| translate}}</a>
        </li>
        <li><a href="" data-target-id="logout"><i class="glyphicon glyphicon-log-out"></i> {{"LOGOUT"| translate}}</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9  admin-content" id="profile">
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs " style="padding-top: 15px;">
        <div class="panel panel-default">
          <div class="panel-body ">
            <div class="media">
              <div align="center">
                <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px"
                     height="300px">
              </div>
            </div>
          </div>
        </div>

      </div>



        <div class="panel-body jumbotron" >
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">John Doe <small>example@pods.tld</small> <i
                          class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip"
                          data-placement="bottom" title="John Doe is sharing with you"></i></h1>
                    </span>
          <br><br>
          <i class="fa fa-tags" aria-hidden="true"></i> <a href="/tags/diaspora" class="tag">#diaspora</a> <a
          href="/tags/hashtag" class="tag">#hashtag</a> <a href="/tags/caturday" class="tag">#caturday</a>
          <br><br>
          <hr>
          <span class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-files-o"
                                                                                          aria-hidden="true"></i> Rating</a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-picture-o"
                                                                                          aria-hidden="true"></i> Posts <span
                          class="badge">42</span></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-fw fa-users"
                                                                                          aria-hidden="true"></i> Medals <span
                          class="badge">42</span></a>
                    </span>
          <span class="pull-right">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-at"
                                                                                          aria-hidden="true"
                                                                                          data-toggle="tooltip"
                                                                                          data-placement="bottom"
                                                                                          title="Mention"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-envelope-o"
                                                                                          aria-hidden="true"
                                                                                          data-toggle="tooltip"
                                                                                          data-placement="bottom"
                                                                                          title="Message"></i></a>
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-lg fa-ban"
                                                                                          aria-hidden="true"
                                                                                          data-toggle="tooltip"
                                                                                          data-placement="bottom"
                                                                                          title="Ignore"></i></a>
                    </span>
        </div>

    </div>

    <div class="col-md-9  admin-content" id="settings">
      <div class="panel panel-default" style="margin: 0.5em; margin-top: 0;">
        <div class="panel-heading">
          <h3 class="panel-title">Notification</h3>
        </div>
        <div class="panel-body">
          <div class="label label-success">allowed</div>
        </div>
      </div>
      <div class="panel panel-default" style="margin: 0.5em;">
        <div class="panel-heading">
          <h3 class="panel-title">Newsletter</h3>
        </div>
        <div class="panel-body">
          <div class="badge">Monthly</div>
        </div>
      </div>
      <div class="panel panel-default" style="margin: 0.5em;">
        <div class="panel-heading">
          <h3 class="panel-title">Admin</h3>

        </div>
        <div class="panel-body">
          <div class="label label-success">yes</div>
        </div>
      </div>
    </div>

    <div class="col-md-9  admin-content" id="edit_profile">

      <div class="panel" id="edit_form">

        <form #form="ngForm" (updateField)="updateProfile(form.value)">

          <div id="draganddrop" class="panel">
            <div class="panel-body" style="padding: 0;">
              <div class="col-lg-3 col-md-3 hidden-sm hidden-xs " id="profile_ph">

                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="media">
                      <div align="center">
                        <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png"
                             width="300px" height="300px">
                      </div>
                    </div>
                  </div>
                </div>



              </div>
              <app-draganddrop-form></app-draganddrop-form>
            </div>

            <form class="form-horizontal jumbotron" style="padding-bottom: 10px; padding-top: 10px; padding-right: 0">
              <fieldset>
                <legend style="margin-bottom: 7px; margin-left: 20px">Edit profile info</legend>
                <div class="col-lg-11" style="margin-left: 0; width: 100%">
                  <div class="col-lg-5">
                    <div class="form-group">
                      <div>
                        <input type="text" class="form-control" id="inputEmail" placeholder="New email">
                      </div>
                    </div>
                    <div class="form-group">
                      <div>
                        <input type="text" class="form-control" id="inputLogin" placeholder="New login">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-1">
                    <div class="form-group">
                      <div>
                        <input type="text" class="form-control" id="inputPassword" placeholder="New password">
                      </div>
                    </div>
                    <div class="form-group">
                      <div>
                        <input type="text" class="form-control" id="inputLConfirmPassword" placeholder="Confirm password">
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>


        </form>
      </div>
    </div>

    <div class="col-md-9  admin-content" id="profile_article">
      <app-instruction-red-form></app-instruction-red-form>
    </div>

    <div class="col-md-9  admin-content" id="logout">
      <div class="panel panel-default" style="margin: 0.5em;">
        <div class="panel-heading">
          <h3 class="panel-title">Confirm Logout</h3>
        </div>
        <div class="panel-body">
          Do you really want to logout ?  
          <a href="#" class="label label-danger"
             onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
            <span>   Yes   </span>
          </a>    
          <a href="/account" class="label label-success"> <span>  No   </span></a>
        </div>
        <form id="logout-form" action="#" method="POST" style="display: none;">
        </form>

      </div>
    </div>
  </div>
</div>
