<div class="container" id="profile_component">

  <div  style="height: 100%; float:left;min-width: 210px;">

    <div class="panel ">
      <ul class="nav nav-stacked ">
        <li class="">
          <a [routerLink]="['/profile']" routerLinkActive="active">
            <i class="glyphicon glyphicon-user"></i>
           {{"PROFILE"| translate}}
          </a>
        </li>
        <li class="">
          <a [routerLink]="['/profile/edit-profile']" routerLinkActive="active">
            <i class="glyphicon glyphicon-edit"></i>
           {{"EDIT_PROFILE"| translate}}
          </a>
        </li>
        <li class="">
          <a >
            <i class="glyphicon glyphicon-list-alt"></i>
           {{"PROFILE_ARTICLE"| translate}}
          </a>
        </li>
        <li class="">
          <a [routerLink]="['/profile/add-instruction']" routerLinkActive="active" >
            <i class="glyphicon glyphicon-list-alt"></i>
            {{"ADD_INSTR"| translate}}
          </a>
        </li>
        <li class="">
          <a href="#settings" data-toggle="tab" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i>
           {{"SETTINGS"| translate}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div (addInst)="nameInst($event)" >
  <router-outlet (addInst)="nameInst($event)"></router-outlet>
  </div>
</div>
