.nopadding{
  padding-left: 0;
  padding-right: 0;
  max-width: 210px;
}

#profile_ph{
  width: 25%;
  padding-top: 15px;
}

#draganddrop{
  width: 100%;
  float: left;
}

#edit_form{
  margin-left: 3px;
}

.custominpform{
  padding: 0;
  margin: 5px;
  margin-left: 15px;

}
.cust_size{
  font-size: 11px;
}

.cust_panel{
  padding: 5px 10px;
}

.mypanel-body{
  padding: 6px;
}
#edit_profile{
  padding: 0;
  margin-left: 7px;
  width: 75%;
  border-radius: 4px;
}
#settings{
  border-radius: 4px;
}

#profile_article{
  border-radius: 4px;
}
#profile{
  margin-left: 7px;
  padding: 0px;
}
#profile_article{
  margin-left: 7px;
  padding: 0px;
  height: 100%;
}
#profile_component{
  height: 100%;
  padding-bottom: 15px;
}
