<form id="register-form" #form="ngForm" (ngSubmit)="signUp(form.value)" role="form" style="display: none;">
  <div class="form-group">
    <input type="text" name="username"
           id="username-signup" tabindex="1" [(ngModel)]="user.login"
           class="form-control" (keyup)="checkLogin()" (blur)="checkLogin()"
           placeholder="Username" value="" required="">
    <span class="help-block" *ngIf="formErrors.mylogin" style="color: red">
                {{ formErrors.mylogin | translate}}
              </span>
  </div>
  <div class="form-group">
    <input type="email" ngModel name="email" id="email" tabindex="2" class="form-control"
           placeholder="Email Address" value="">
  </div>
  <div class="form-group">
    <input type="text" name="password" [(ngModel)]="user.password" id="password-signup" tabindex="3" class="form-control"
           placeholder="Password" (keyup)="checkPassword()" (blur)="checkPassword()" minlength="8" >
  </div>
  <span class="help-block" *ngIf="formErrors.password" style="color: red">
                {{ formErrors.password | translate}}
              </span>
  <div class="form-group">
    <input type="password" [(ngModel)]="passwordConfirm" (keyup)="checkPasswordConfirm()" (blur)="checkPasswordConfirm()"
           name="passwordConfirm" id="password-confirm" tabindex="4"
           class="form-control" placeholder="Confirm Password">
  </div>
  <span class="help-block" *ngIf="formErrors.passwordConfirm" style="color: red">
                {{ formErrors.passwordConfirm | translate}}
              </span>

  <div class="form-group">
    <input type="text" ngModel name="name" id="firstname" tabindex="5" class="form-control"
           placeholder="Name" value="" required="">
  </div>
  <div class="form-group">
    <input type="text" ngModel name="surname" id="lastname" tabindex="6" class="form-control"
           placeholder="Surname" value="" required="">
  </div>
  <div class="form-group">

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <button type="submit" [disabled]="!isLoginExist || !isPasswordExist || !isPasswordConfirm" name="register-submit" id="register-submit" tabindex="7"
                  class="btn btn-info btn-block" value="Register Now" style="margin: 0 0 0 0; border: 0">Sign Up</button>

        </div>
      </div>
    </div>
  </div>
</form>
