<div class="">
  <div class="panel panel-login">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <a href="#" class="active" id="login-form-link">{{ "LOGIN" | translate}}</a>
        </div>
        <div class="col-xs-6">
          <a href="#" id="register-form-link">Register</a>
        </div>
      </div>
      <hr>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <login-form></login-form>
          <sign-up-form></sign-up-form>
        </div>
      </div>
    </div>
  </div>
</div>
