<div class="row">
  <div>
    <div class="col-md-offset-1">
      <div class=" col-md-2" style="margin-right: 20px"><!--you can add jumbotron here--></div>
      <div class="col-md-6" >
        <div class="row jumbotron" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px">
          <h3 style="margin-top: 0; margin-bottom: 0">{{instruction.title}}
          </h3>
          <div class="rating" style="margin-top: 5px; margin-bottom: 5px">
            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
            <span class="glyphicon glyphicon-user"></span>{{instruction.userLogin}}
          </div>
          <a id="tag-cloud" *ngFor="let tag of instruction.tags">
            <label class="btn btn-default btn-xs tag">
              {{tag.name}}
            </label>
          </a>
          <div class="row" style="padding-bottom: 0px; padding-top: 15px; padding-right: 10px">
            <div dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']" id="steps"
                 class="" >
              <div *ngFor="let element of instruction.step; let i = index" dnd-sortable [sortableIndex]="i">
                <div class="col-md-4">
                  <div class="panel panel-muted ">
                    <div class="panel-body">
                      <a class="text-muted" style="font-size: 30px;;"><b>{{i+1}} </b></a>
                      <a>{{element.title}} </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
